<div class="displayTable">
  <div class="displayTableCell">

    <div class="container groupe">

      <h3>Authentification</h3>
      <div class="form-group">
        <label>Adresse email:</label>
        <input type="text" class="form-control" placeholder="Entrez votre addresse email" #userName required>
        <small class="form-text text-muted">
          <div class="redirectToLogin">
            <span class="redirect" routerLink="/signup">Vous n'avez pas de compte? Enregistrez vous ici!</span>
          </div>
        </small>
      </div>
      <div class="form-group">
        <label>Mot de passe:</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" #userPassword
          required>
          <small class="form-text text-muted">
              <div class="forgotPassword">
                <span routerLink="/forgot-password">Mot de passe oublié?</span>
              </div>
            </small>
      </div>
      
      

          <!-- Calling SignIn Api from AuthService -->
          <input type="button" class="btn btn-primary" value="Se connecter"
            (click)="authService.SignIn(userName.value, userPassword.value)">
          Ou
    
          <!-- Calling GoogleAuth Api from AuthService -->
          
          
            <button type="button" class="btn btn-danger" (click)="authService.GoogleAuth()">
              Se connecter avec Google
            </button>
          
            



        </div>
    

    
    



  </div>






</div>