<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Liste des cours</h2>
      <ul class="list-group">
        <app-cours *ngFor="let cours of liste_cours"
          [coursTitre]="cours.titre"
          [coursStatus]="cours.status"
          [coursContenu]="cours.contenu"></app-cours>

          
        
      </ul>
    </div>
    <button class="btn btn-primary" (click)="onSave()">Enregistrer les cours</button>

<button class="btn btn-primary" (click)="onFetch()">Recupérer les cours sur la bdd</button>
  </div>


</div>




